@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default background gelap dan teks terang */
body {
  @apply bg-dark-950 text-slate-200 antialiased;
  /* Font smoothing agar teks terlihat tajam di background gelap */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar agar sesuai tema gelap */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-dark-800 rounded-full hover:bg-eco-500/50 transition;
}